{% extends 'blog_posts/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}<title>Blogs</title>{% endblock title%}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}

        <div class="section-title">
            <h2>Blogs</h2>
        </div>

        <div class="grid-container">
            <div class="grid">
                {% for blog in blogs %}
                    <p class="cell"><a href="{% url 'blog_posts:blog_entry' blog.id %}">{{ blog }} - {{ blog.date_added|date:'D, M n, Y' }}</a></p>
                {% empty %} <!-- output this if there is nothing in blogs section-->
                <p>You have no blogs yet...</p>
                {% endfor %}
            </div>
        </div>
        <div class="add-blog-btn">
            <button class="add"><a href="{% url 'blog_posts:add_blog' %}">Add a new blog<a></button>
        </div>

        {% endblock content %}
        <script src="" async defer></script>
    </body>
</html>