{% extends 'blog_posts/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}

        <h2>Entries</h2>

        {% for entry in entries %}
            <ul>
                <li>
                    <h3>{{ entry }}</h3>
                    <p>{{ entry.text }}</p>
                </li>
                <hr></hr>
            </ul>
            {% empty %}
                <p>There are no entries available</p>
        {% endfor %}

        {% endblock content %}
        
        <script src="" async defer></script>
    </body>
</html>